<%# 全体 %>
<div class="wrapper">
  
  <%=render 'shared/sidebar'%>

   <%# メイン %>
  <div class="main-box">
    <nav class="navbar">
      <div class="register">ポイント管理</div>
        <% if user_signed_in? %>
          <div class="devise">
            <div class="logout">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </div>
          </div>
        <% else %>
          <div class="devise">
            <%= link_to "新規登録", new_user_registration_path %>
            <%= link_to "ログイン", new_user_session_path %>
          </div>
        <% end %>
      <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
    <div class="main-content">
      
    </div>
  </div>