<%# 全体 %>
<div class="wrapper">
  
  <%=render 'shared/sidebar'%>

   <%# メイン %>
  <div class="main-box">
    <nav class="navbar">
      <div class="register">ポイント管理</div>
      <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
    <div class="main-content">
      
    </div>
  </div>