.devise3{
  width: 150px;
  justify-content: space-between;
  display: flex;
  position: relative;
  left: 140px;
}

.sub-row{
  width:50%;
  height:100%;
  margin: 33px auto;
  flex-wrap: wrap;
}

.t-title {
  text-align: center;
  background-color:#fff;
}
.t-date {
  text-align: center;
  background-color:#fff;
}

.chart-row{
  padding-right: 15px;
  padding-left: 15px;
}

.chart-head{
  padding: 20px 20px 0;
}

.line-chart{
  background-color: #fff;
  box-shadow: 0 0 8px gray;
}
.column-chart{
  background-color: #fff;
  box-shadow: 0 0 8px gray;
}