<%# 全体 %>
<div class="wrapper">
  <%# 左サイド %>
  <div class="sidebar">
    <div class="sidetop">
      <div class="sidetop-cover">
        <a class="user-logo">
          <%= image_tag 'back', class:'logo'%>
        </a>
        <a class="user">管理者画面</a>
      </div>
    </div>
    <div class="sidedown">
      <ul class="nav navbar-nav">
        <li><a class="nav-item active" href="#"><i class="icon"></i>登録者一覧</a></li>
        <li><a class="nav-item" href="#"><i class="icon"></i>アクセス回数</a></li>
        <li><a class="nav-item" href="#"><i class="icon"></i>ポイント数</a></li>
        <li><a class="nav-item" href="#"><i class="icon"></i>修正</a></li>
      </ul>
    </div>
  </div>
  <%# メイン %>
  <div class="main-box">
    <nav class="navbar">
      <div class="register">登録者一覧</div>
      <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
    <div class="main-content">
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
    </div>
  </div>
</div>